<template>
  <div id="app">
    <select name="projects" @change="getUsersByProject">
      <option value="all">Выбрать</option>
      <option v-for="project in projects" :key="project.id" v-bind:value="project.id">
        {{ project.name }}
      </option>
    </select>
    <select name="persons" v-if="projectUsers" @change="getTasksByUserProject">
      <option value="all">Выбрать</option>
      <option v-for="person in projectUsers" :key="person.id" v-bind:value="person.id">
        {{ person.firstname + ' ' + person.lastname }}
      </option>
    </select>
    <select name="user_labels" v-if="projectUserTasksUserLabels && canSelectLabel" @change="getTasksByUserLabel">
      <option value="all_labels">Выбрать</option>
      <option v-for="label in projectUserTasksUserLabels" :key="label.id" v-bind:value="label.id">
        {{ label.name }}
      </option>
    </select>
    <div class="dashboard__row">
      <DataFromDb ref="dataFromDb"
                  :selectedProject="selectedProject"
                  :selectedUser="selectedUser"
                  :selectedLabel="selectedLabel"
                  :projectUserTasksLabels="projectUserTasksLabels"
                  :projectUserTasksUserLabels="projectUserTasksUserLabels"
                  :timeIntervals="timeIntervals"
                  :taskByLabelTime="taskByLabelTime"
                  :onSortIntervals="onSortIntervals"
                  :onUpdateTasksByLabel="onUpdateTasksByLabel"></DataFromDb>
      <DataFromApi ref="dataFromApi"
                   :selectedProject="selectedProject"
                   :selectedUser="selectedUser"
                   :selectedLabel="selectedLabel"
                   :timeIntervals="timeIntervals"
                   :taskByLabelTime="taskByLabelTime"
                   :onUpdateLabels="onUpdateLabels"
                   :onSortIntervals="onSortIntervals"
                   :onUpdateTasksByLabel="onUpdateTasksByLabel"></DataFromApi>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import DataFromDb from './components/DataFromDb'
import DataFromApi from './components/DataFromApi'

export default {
  data: () => ({
    projects: [],
    projectInfo: null,
    projectUsers: null,
    selectedProject: '',
    selectedUser: '',
    selectedLabel: 'all_labels',
    canSelectLabel: false,
    projectUserTasksLabels: null,
    projectUserTasksUserLabels: null,
    timeIntervals: {['DB']: null, ['API']: null},
    taskByLabelTime: {['DB']: null, ['API']: null},
  }),
  components: {
    DataFromDb,
    DataFromApi
  },
  mounted() {
    axios
      .get(this.appConfig.url + '/api/projects', {withCredentials: true})
      .then(response => (this.projects = response.data))
  },
  methods: {
    onUpdateLabels: function (data) {
      this.projectUserTasksLabels = data.projectUserTasksLabels
      this.projectUserTasksUserLabels = data.projectUserTasksUserLabels
    },
    onSortIntervals: function (data) {
      if (typeof data.sortTimeIntervalsDb !== "undefined") {
        this.timeIntervals['DB'] = this.sortTimeIntervals(data.sortTimeIntervalsDb)
      }
      if (typeof data.sortTimeIntervalsApi !== "undefined") {
        this.timeIntervals['API'] = this.sortTimeIntervals(data.sortTimeIntervalsApi)
      }
    },
    onUpdateTasksByLabel: function (data) {
      if (typeof data.updateTasksByLabelDb !== "undefined") {
        this.taskByLabelTime['DB'] = data.updateTasksByLabelDb
      }
      if (typeof data.updateTasksByLabelApi !== "undefined") {
        this.taskByLabelTime['API'] = data.updateTasksByLabelApi
      }
    },
    getUsersByProject: function (event) {
      this.selectedProject = event.target.value
      if (this.selectedProject !== 'all') {
        axios
          .get(this.appConfig.url + '/api/projects/' + this.selectedProject + '/persons', {withCredentials: true})
          .then(response => (this.projectUsers = response.data.persons))
      } else {
        this.selectedUser = 'all'
        this.projectUsers = null
        this.canSelectLabel = false
      }
    },
    getTasksByUserProject: async function (event) {
      this.selectedLabel = 'all_labels'
      this.selectedUser = event.target.value
      this.canSelectLabel = true
    },
    getTasksByUserLabel: async function (event) {
      this.selectedLabel = event.target.value
    },
    sortTimeIntervals: function (arDate) {
      let max = arDate[0]
      for (const index in arDate) {
        max = new Date(arDate[index]) > new Date(max) ? arDate[index] : max
      }
      return max
    },
  },
}
</script>
<style>
.dashboard__row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.dashboard__row-col {
  flex: 0 0 calc(50% - 30px);
  padding: 0 15px;
}

.task__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  border: 1px solid;
  margin: 10px 0;
  padding: 10px;
  position: relative;
}

.task__row-btns .btns {
  display: none;
}

.task__row-btns:hover .btns, .task__row-btns__active .btns {
  display: flex;
}

.interval {
  display: flex;
  cursor: pointer;
}

.interval__time {
  margin-right: 10px;
}

.label, .interval, .task__name {
  padding: 10px;
  max-height: 39px;
  box-sizing: border-box;
}

.task__name {
  width: 100%;
}

.label {
  color: #fff;
  font-weight: bold;
}

.interval__detail {
  display: none;
}

.interval__active .interval__detail {
  display: flex;
}

.btns {
  position: absolute;
  background-color: #fff;
  z-index: 99;
  padding: 10px;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  border: 1px solid;
}

.btn-q {
  width: 38px;
  height: 38px;
  border: 1px solid;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.btn-q:not(:last-child) {
  margin-right: 10px;
}

.btn-edit-on, .btn-plus {
  color: #6bbd5b;
  border-color: #6bbd5b;
}

.btn-plus {
  width: auto;
}

.btn-plus span {
  text-transform: uppercase;
  margin-right: 10px;
}

.btn-edit-off, .btn-delete {
  color: #e27a7a;
  border-color: #e27a7a;
}

.btn-save {
  color: #248fb2;
  border-color: #248fb2;
}

svg.icon-down path {
  fill: #6bbd5b;
}

svg.icon-up path {
  fill: #e27a7a;
}

.task__col-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  grid-gap: 5px;
}
</style>
