<template>
  <div v-if="dbProjectUserTasks && selectedUser !== 'all'" class="dashboard__row-col">
    <div class="task__row" >
      <div class="task__col">Плановое время</div>
      <div class="task__col" v-if="taskByLabelTime">{{ taskByLabelTime.DB }}ч.</div>
      <div class="task__col" v-if="timeIntervals.DB">Завершено: {{ timeIntervals.DB }}</div>
    </div>
    <template v-for="task of dbProjectUserTasks['tasks']">
      <div class="task__row task__row-btns" :key="task.id" v-bind:data-id="task.id"
           :class="{'task__row-btns__active':task.edit}">
        <div class="task__col">
          <input v-if="task.edit" type="text" class="task__name" name="name"
                 v-bind:value="task.name">
          <div class="task__name" v-else>{{ task.name }}</div>
        </div>
        <div class="task__col task__col-grid">
          <input v-if="task.edit" type="number" class="task__name" name="plan_time"
                 v-bind:value="task.plan_time">
          <div class="task__name" v-else>{{ task.plan_time }}</div>
          <input v-if="task.edit" type="date" class="task__name" name="plan_date"
                 v-bind:value="task.plan_date">
          <div class="task__name" v-else>{{ task.plan_date }}</div>
        </div>
        <div class="task__col" v-if="projectUserTasksLabels">
          <select v-if="task.edit" class="task__name" name="label_id">
            <option value="all_labels">Выбрать</option>
            <option v-for="label in projectUserTasksLabels" :key="label.id"
                    v-bind:value="label.id"
                    :selected="parseInt(label.id) === parseInt(task.label_id)">
              {{ label.name }}
            </option>
          </select>
          <div v-else-if="projectUserTasksLabels[task.label_id]" class="label"
               v-bind:style="{background: '#' + projectUserTasksLabels[task.label_id]['color']}">
            {{ projectUserTasksLabels[task.label_id]['name'] }}
          </div>
        </div>
        <div class="btns">
          <div v-if="task.edit && task.id" @click="task.edit = false" class="btn-q btn-edit-off">
            <font-awesome-icon icon="times"/>
          </div>
          <div v-else-if="task.id === ''" @click="updateDbRows" class="btn-q btn-cancel">
            <font-awesome-icon icon="times"/>
          </div>
          <div v-else @click="task.edit = true" class="btn-q btn-edit-on">
            <font-awesome-icon icon="pen"/>
          </div>
          <div v-if="task.id" @click="deleteRow(task.id)" class="btn-q btn-delete">
            <font-awesome-icon icon="trash"/>
          </div>
          <div v-if="task.edit" @click="submitRow(task.id)" class="btn-q btn-save">
            <font-awesome-icon icon="save"/>
          </div>
        </div>
      </div>
    </template>
    <div @click="addRow" class="btn-q btn-plus">
      <span>Добавить</span>
      <font-awesome-icon icon="plus"/>
    </div>
  </div>
</template>
<script>
import axios from "axios";

export default {
  props: [
    'selectedProject',
    'selectedUser',
    'selectedLabel',
    'projectUserTasksLabels',
    'projectUserTasksUserLabels',
    'onSortIntervals',
    'timeIntervals',
    'onUpdateTasksByLabel',
    'taskByLabelTime'
  ],
  data: () => ({
    dbProjectUserTasks: null,
    sortTimeIntervalsDb: [],
    updateTasksByLabelDb: [],
  }),
  watch: {
    selectedUser: function () {
      this.updateDbRows()
    },
    selectedLabel: function () {
      this.updateDbRows()
    }
  },
  methods: {
    updateDbRows: async function () {
      if (this.selectedProject !== 'all') {
        let getStr = ''
        getStr = this.appConfig.url + '/db/projects/' + this.selectedProject + '/' + this.selectedUser + '/' + this.selectedLabel + '/tasks/';
        await axios
          .get(getStr, {withCredentials: true})
          .then(response => {
            if (response.status === 200) {
              this.dbProjectUserTasks = response.data
            } else {
              this.dbProjectUserTasks = response.status
            }
          }).catch((error) => {
            console.log(error)
          })
        await this.onSortIntervals({
          sortTimeIntervalsDb: this.dbProjectUserTasks["end_date"]
        })
        await this.onUpdateTasksByLabel({
          updateTasksByLabelDb: this.dbProjectUserTasks['general_time']
        })
        if (typeof this.timeIntervals === "undefined") {
          this.timeIntervals = 0;
        }
      } else {
        this.dbProjectUserTasks = null
      }
    },
    submitRow: async function (rowId) {
      const rowWrap = document.querySelector('.task__row[data-id="' + rowId + '"]');
      const data = {
        id: rowId
      }
      const inputs = rowWrap.getElementsByTagName('input')
      const selects = rowWrap.getElementsByTagName('select')
      for (let i = 0; i < inputs.length; i++) {
        const name = inputs[i].getAttribute('name')
        const val = inputs[i].value
        Object.assign(data, {[name]: val})
      }
      for (let i = 0; i < selects.length; i++) {
        const name = selects[i].getAttribute('name')
        const val = selects[i].value
        Object.assign(data, {[name]: val})
      }
      await axios.put(this.appConfig.url + '/db/update/projects/' + this.selectedProject + '/' + this.selectedUser + '/tasks/', data)
        .then(res => console.log(res.request.response))
      await this.updateDbRows()
    },
    deleteRow: async function (rowId) {
      const data = {
        id: rowId
      }
      await axios.put(this.appConfig.url + '/db/delete/projects/' + this.selectedProject + '/' + this.selectedUser + '/tasks/', data)
        .then(res => console.log(res.request.response))
      await this.updateDbRows()
    },
    addRow: function () {
      this.dbProjectUserTasks['tasks'].push({
        id: '',
        user_id: '',
        name: '',
        plan_time: '',
        plan_date: '',
        label_id: '',
        edit: true
      })
    }
  }
}
</script>
