<template>
  <div v-if="projectUserTasks" class="dashboard__row-col">
    <div class="task__row" v-if="taskByLabelTime && taskByLabelTime.API > 0">
      <div class="task__col">Фактическое время</div>
      <div class="task__col">
        <div>
          {{ numToHour(taskByLabelTime.API) }}
          <font-awesome-icon v-if="taskByLabelTime.API > (taskByLabelTime.DB * 3600)" icon="chevron-up"
                             class="icon-up"/>
          <font-awesome-icon v-else icon="chevron-down" class="icon-down"/>
        </div>
        <div>{{ getDifTime(taskByLabelTime) }}</div>
      </div>
      <div class="task__col" v-if="timeIntervals.API">
        <div>Завершено: {{ timeIntervals.API }}
          <template v-if="timeIntervals.API !== 0">
            <font-awesome-icon v-if="timeIntervals.API > timeIntervals.DB" icon="chevron-up" class="icon-up"/>
            <font-awesome-icon v-else icon="chevron-down" class="icon-down"/>
          </template>
        </div>
        <div>
          {{ getDifDate(timeIntervals) }}
        </div>
      </div>
    </div>
    <div v-if="projectUserTasks">
      <template v-for="(task) of projectUserTasks.tasks">
        <div class="task__row" :key="task.id" v-if="task.active">
          <div class="task__col">
            <div class="task__name">{{ task.name }}</div>
          </div>
          <div class="task__col">
            <div class="interval-list" @click="showIntervals">
              <div class="interval">итог: {{ task.tracked_time_converted }}
                <font-awesome-icon v-if="task.tracked_time_converted !== '00:00:00'" icon="chevron-down"/>
              </div>
              <div class="interval interval__detail" v-for="interval of task.taskInfo.intervals" :key="interval.id">
                <div class="interval__time">
                  {{ numToHour(interval['dif_date']) }}
                </div>
                <div class="interval__date">
                  {{ interval['finish_date'] }}
                </div>
              </div>
            </div>
          </div>
          <div class="task__col" v-if="selectedLabel === 'all_labels'">
            <div class="label-list" v-for="label of task.taskInfo.label" :key="label.id">
              <div class="label"
                   v-bind:style="{background: '#' + projectUserTasks['labels'][label.label_id]['color']}">
                {{ projectUserTasks['labels'][label.label_id]['name'] }}
              </div>
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  props: [
    'selectedProject',
    'selectedUser',
    'selectedLabel',
    'onUpdateLabels',
    'onSortIntervals',
    'timeIntervals',
    'onUpdateTasksByLabel',
    'taskByLabelTime'
  ],
  data: () => ({
    projectUserTasks: null,
    sortTimeIntervalsApi: [],
    updateTasksByLabelApi: [],
    dif: {
      timeStr: null,
      dateStr: null
    },
  }),
  watch: {
    selectedUser: function () {
      this.updateApiRows()
    },
    selectedLabel: function () {
      this.updateApiRowsByUserLabel()
    }
  },
  methods: {
    updateApiRows: async function () {
      if (this.selectedUser !== 'all' || this.selectedProject !== 'all') {
        await axios
          .get(this.appConfig.url + '/api/projects/' + this.selectedProject + '/' + this.selectedUser + '/tasks/',
            {withCredentials: true})
          .then(response => {
            if (response.status === 200 && Object.keys(response.data).length !== 0) {
              this.projectUserTasks = response.data
            }
          }).catch((error) => {
            console.log(error)
          })
        this.projectUserTasks['user_labels'] = {}
        const timeIntervals = []
        for (const taskIndex in this.projectUserTasks['tasks']) {
          const taskID = this.projectUserTasks['tasks'][taskIndex]['id']
          await axios
            .get(this.appConfig.url + '/api/task/' +
              this.selectedProject + '/' + this.selectedUser + '/' + taskID + '/info/', {withCredentials: true}
            )
            .then(response => {
              if (response.status === 200) {
                this.projectUserTasks['tasks'][taskIndex]['taskInfo']['label'] = response.data['label']
                this.projectUserTasks['tasks'][taskIndex]['taskInfo']['labels'] = response.data['labels']
                for (const label in this.projectUserTasks['tasks'][taskIndex]['taskInfo']['label']) {
                  this.projectUserTasks['user_labels'][this.projectUserTasks['tasks'][taskIndex]['taskInfo']['label'][label]['label_id']]
                    =
                    this.projectUserTasks.labels[this.projectUserTasks['tasks'][taskIndex]['taskInfo']['label'][label]['label_id']]
                }
              }
            }).catch((error) => {
              console.log(error)
            })
          let task = this.projectUserTasks.tasks[taskIndex]
          for (const interval in task['taskInfo']['intervals']) {
            timeIntervals.push(task['taskInfo']['intervals'][interval]['ar_finish_date'])
          }
        }

        this.onUpdateLabels({
          projectUserTasksUserLabels: this.projectUserTasks['user_labels'],
          projectUserTasksLabels: this.projectUserTasks['labels']
        })
        this.updateTasks(this.projectUserTasks.tasks, this.selectedLabel)
        await this.onSortIntervals({
          sortTimeIntervalsApi: this.timeIntervals.API
        })

        await this.onUpdateTasksByLabel({
          updateTasksByLabelApi: this.taskByLabelTime.API
        })
      }
    },

    updateApiRowsByUserLabel: async function () {
      let label_id = this.selectedLabel
      this.updateTasks(this.projectUserTasks.tasks, label_id)
      await this.onSortIntervals({
        sortTimeIntervalsApi: this.timeIntervals.API
      })

      await this.onUpdateTasksByLabel({
        updateTasksByLabelApi: this.taskByLabelTime.API
      })
    },

    updateTasks: function (tasks, label_id) {
      let task = {}
      let generalLabelTime = 0
      const timeIntervals = []
      for (const taskIndex in tasks) {
        task = tasks[taskIndex]
        if (task.taskInfo.label.length > 0) {
          if (label_id in task.taskInfo.labels) {
            generalLabelTime = generalLabelTime + task['tracked_time']
            task['active'] = true
            for (const interval in task['taskInfo']['intervals']) {
              if (task['active']) {
                timeIntervals.push(task['taskInfo']['intervals'][interval]['ar_finish_date'])
              }
            }
          } else {
            task['active'] = false
          }
        } else {
          task['active'] = false
        }
        if (label_id === 'all_labels') {
          generalLabelTime = generalLabelTime + task['tracked_time']
          task['active'] = true
          for (const interval in task['taskInfo']['intervals']) {
            if (task['active']) {
              timeIntervals.push(task['taskInfo']['intervals'][interval]['ar_finish_date'])
            }
          }
        }
        this.$set(this.projectUserTasks['tasks'], taskIndex, task)
      }
      this.timeIntervals.API = timeIntervals
      this.taskByLabelTime.API = generalLabelTime
    },

    showIntervals: function (event) {
      if (event.target.parentNode.classList.contains('interval__active')) {
        event.target.parentNode.classList.remove('interval__active')
      } else {
        event.target.parentNode.classList.add('interval__active')
      }
    },

    numToHour: function (num) {
      const hours = Math.floor(num / 60 / 60)
      const minutes = Math.floor(num / 60) - (hours * 60)
      const seconds = num % 60
      let stringHours = '-'
      if (num > 0) {
        stringHours = hours + ':' + minutes + ':' + seconds
      }
      return stringHours
    },

    getDifTime: function (taskByLabelTime) {
      let timeStr = ''
      let timeDif = (taskByLabelTime['DB'] * 3600 - taskByLabelTime['API']) / 3600
      if (timeDif > 0) {
        timeStr = 'осталось ' + Math.abs(timeDif).toFixed(1) + 'ч.'
      } else {
        timeStr = 'затрачено времени больше на ' + Math.abs(timeDif).toFixed(1) + 'ч.'
      }
      return timeStr
    },

    getDifDate: function (timeIntervals) {
      let dateStr = ''
      if (timeIntervals['DB'] !== undefined && timeIntervals['API'] !== undefined) {
        let date1 = new Date(timeIntervals['DB'])
        let date2 = new Date(timeIntervals['API'])
        let daysDif = (date1 - date2) / (1000 * 3600 * 24)
        if (daysDif > 0) {
          dateStr = 'осталось ' + Math.abs(daysDif) + 'дней'
        } else {
          dateStr = 'опоздание на ' + Math.abs(daysDif) + 'дней'
        }
      }
      return dateStr
    }
  }
}
</script>
